<h1>Itinerary</h1>
<nav>
	
	<ul class="nav nav-pills">
		<li role="presentation" class="active" ng-click="createADay()"><a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
		<!-- <pre>{{itineraryList.length}}</pre> -->
		<li role="presentation" ng-class="{active: $index == currentDay}" ng-repeat="$index in itineraryList" ng-click="setDate($index)"><a>Day - {{$index + 1}}</a></li>
	</ul>

</nav>
<table class="table">
	<thead>
		<tr>
			<td>No</td>
			<td>Name</td>
			<td>Distance</td>
			<td>Duration</td>
			<td>Detail</td>
		</tr>
	</thead>
	<tbody ng-show="itineraryItems.length">
		<tr ng-repeat="itineraryItem in itineraryItems">
			<td>{{$index + 1}}</td>
			<td>{{itineraryItem.name}}</td>
			<td>{{itineraryItem.distance}}</td>
			<td>{{itineraryItem.duration}}</td>
			<td><button>Details</button></td>
		</tr>
	</tbody>
</table>


<button ng-click="saveToItineraryList(itineraryList)">Save</button>
<!-- <button ng-click="optimize(itineraryList)">Optimizing Dist</button> -->