
<div class="col-md-12">
<nav>
	<ul class="nav nav-pills">
		<li role="presentation" class="active" ng-click="createADay()"><a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
		<!-- <pre>{{itineraryList.length}}</pre> -->
		<li role="presentation" ng-class="{active: $index+1 == currentDay}" ng-repeat="$index in itineraryList" ng-click="setDate($index+1)"><a>Day - {{$index + 1}}</a></li>
	</ul>

</nav>
<table class="table" ng-show="itineraryItems.length">
	<thead>
		<tr>
			<td>No</td>
			<td>Name</td>
			<td>Distance</td>
			<td>Duration</td>
			<td>Detail</td>
			<td>Modify</td>
			<td>Delete</td>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="itineraryItem in itineraryItems">
			<td>{{$index + 1}}</td>
			<td>{{itineraryItem.name}}</td>
			<td>{{itineraryItem.distance}}</td>
			<td>{{itineraryItem.duration}}</td>
			<td><button ng-click="getDetail(itineraryItem)">Detail</button></td>
			<td><button ng-click="moveUp(itineraryItem)" ng-hide="itineraryItems.length <= 1"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>  <button ng-click="moveDown(itineraryItem)" ng-hide="itineraryItems.length <= 1"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button></td>
			<td><button ng-click="delete(itineraryItem)">Delete</button></td>
			
		</tr>
	</tbody>
</table>
<h5 ng-show="!itineraryItems.length">No Itinerary Items</h5>
<button ng-click="deleteADay()">Delete Day - {{currentDay}}</button>
<button ng-click="optimize(itineraryItems)">optimize route</button>
<button ng-click="shareItinerary(itineraryItems)">Share my Itinerary</button>
</div>